openai
jupyter
notebook
gradio
torch
torchtext
torchvision 
torchaudio
transformers
peft
datasets
evaluate
python-dotenv
scikit-learn==1.2.2

langchain
beautifulsoup4
faiss-cpu
trl

pysqlite3
tensorboard
seaborn
sentencepiece
